
# Build
Cargo.lock
config.toml
# Config with secrets
/data/
# Database
*.db
*.db-journal
.DS_Store
.env
.env.*
# Environment
# IDE
.idea/
*.key
*.log
logs/
# Logs
# OS
*.secret
*.swo
*.swp
/target/
Thumbs.db
.vscode/
